{% load static %}
<ul class="menu">
    <li class="menu-list">
        <a href="{% url 'main' %}"
           {% if request.resolver_match.url_name == 'main' %}class="menu-link menu-link-active"
           {% else %}class="menu-link"{% endif %}>Home</a>
    </li>
    <li class="menu-list">
        <a href="{% url 'about' %}"
           {% if request.resolver_match.url_name == 'about' %}class="menu-link menu-link-active"
           {% else %}class="menu-link"{% endif %}>About</a>
    </li>
    <li class="menu-list">
        <a href="{% url 'service' %}"
           {% if request.resolver_match.url_name == 'service' %}class="menu-link menu-link-active"
           {% else %}class="menu-link"{% endif %}>Service</a>
    </li>
    <li class="menu-list">
        <a href="{% url 'gallery:gallery_main' 1 %}"
           {% if request.resolver_match.namespace == 'gallery' %}class="menu-link menu-link-active"
           {% else %}class="menu-link"{% endif %}>Gallery</a>
    </li>
    <li class="menu-list">
        <a href="{% url 'news' %}"
           {% if request.resolver_match.url_name == 'news' %}class="menu-link menu-link-active"
           {% else %}class="menu-link"{% endif %}>News</a>
    </li>
    <li class="menu-list">
        <a href="{% url 'team' %}"
           {% if request.resolver_match.url_name == 'team' %}class="menu-link menu-link-active"
           {% else %}class="menu-link"{% endif %}>Team</a>
    </li>
    <li class="menu-list">
        <a href="{% url 'contacts' %}"
           {% if request.resolver_match.url_name == 'contacts' %}class="menu-link menu-link-active"
           {% else %}class="menu-link"{% endif %}>Contact Us</a>
    </li>
    {% if user.is_authenticated %}
        <li class="menu-list">
            <a href="{% url 'auth:edit' %}"
               class="menu-link">
                {% if user.first_name %}
                    {{ user.first_name }}
                {% else %}
                    Пользователь
                {% endif %}
            </a>
        </li>
            {% if user.is_superuser %}
                <li class="menu-list">
                    <a href="{% url 'admin:users' 1 %}" class="menu-link">
                       админка
                    </a>
                </li>
            {% endif %}
        <li class="menu-list">
            <a href="{% url 'auth:logout' %}"
               class="menu-link">
                выход
            </a>
        </li>
    {% else %}
        <li class="menu-list">
            <a href="{% url 'auth:login' %}"
               class="menu-link">
                вход
            </a>
        </li>
    {% endif %}
    <li class="menu-list">
        <a href="{% url 'basket:basket' %}"
           class="menu-link basket">
            {% if basket %}
                {{ basket.0.total_cost|floatformat:0 }} $
                ({{ basket.0.total_quantity }} шт)
            {% endif %}
        </a>
    </li>
</ul>