{% load static %}
<div class="headerline">
    <a class="logo" href="#"><p class="word_1">Historical</p><p class="word_2">games</p></a>
    <div class="contacts">
        <img class="phone" src="{% static 'img/first_screen/phone.png' %}" alt="phone"><span class="phone-text">+123 456 7890</span>
        <img class="email" src="{% static 'img/first_screen/email.png' %}" alt="email"><span class="email-text">info@example.com</span>
        <input class="search" type="text" placeholder="Search">
        <div class="icon-search"><a href="#"><img src="{% static 'img/first_screen/search.png' %}" alt="search"></a></div>
    </div>
</div>