{% load static %}
<div class="news clearfix">
    <h3 class="news-header">News & Events</h3>
    <div class="latest-news">
        <p class="headers-news headers-news-1">Latest News</p>
        <div class="one-news">
            <div class="news-date">
                <p class="day">15</p>
                <p class="month">June</p>
                <p class="year">2016</p>
            </div>
            <p class="name-news">Fugiat Quo Voluptas</p>
            <p class="text-news">Quis autem vel eum iure reprehenderit qui in ea voluptate
                velit esse.</p>
        </div>
        <div class="one-news">
            <div class="news-date">
                <p class="day">18</p>
                <p class="month">June</p>
                <p class="year">2016</p>
            </div>
            <p class="name-news">FugQui In Ea Voluptate</p>
            <p class="text-news">Quis autem vel eum iure reprehenderit qui in ea voluptate
                velit esse.</p>
        </div>
        <div class="one-news">
            <div class="news-date">
                <p class="day">20</p>
                <p class="month">June</p>
                <p class="year">2016</p>
            </div>
            <p class="name-news">Autem Vel Eum Iure</p>
            <p class="text-news">Quis autem vel eum iure reprehenderit qui in ea voluptate
                velit esse.</p>
        </div>
    </div>
    <div class="featured-events">
        <p class="headers-news">Featured Events</p>
        <p class="arrows"><a href="">&lt;</a> <a href="">&gt;</a></p>
        <p class="line-news"></p>
        <div class="featured-img">
            <img src="{% static 'img/block_7/3.jpg' %}" alt="image-news">
            <img src="{% static 'img/block_7/2.jpg' %}" alt="image-news">
            <img src="{% static 'img/block_7/1.jpg' %}" alt="image-news">
        </div>
        <div class="featured-parg">
            <p class="parg-header"><a href="#">−   Assumenda Est Cliche Reprehenderit</a></p>
            <p class="parg-text">Lorem Ipsum is&nbsp;simply dummy text of&nbsp;the printing and typesetting industry. Lorem Ipsum has been the industry&rsquo;s standard dummy text ever since the 1500s, when an&nbsp;unknown printer took a&nbsp;galley of&nbsp;type and scrambled it&nbsp;to&nbsp;make a&nbsp;type specimen book.</p>
        </div>
        <p class="parg-header-plus"><a href="#">+   Assumenda Est Cliche Reprehenderit</a></p>
        <p class="parg-header-plus"><a href="#">+   Assumenda Est Cliche Reprehenderit</a></p>
        <p class="parg-header-plus"><a href="#">+   Assumenda Est Cliche Reprehenderit</a></p>
    </div>
</div>