{% load static %}
<div class="services">
    <h3 class="services-header">Services</h3>
    <table class="services-table">
        <tr>
            <td>
                <div class="serv-left-txt">
                    <h4 class="services-name services-name-active">Repreh Qui In Ea Voluptate</h4>
                    <p class="services-text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                    reiciendis voluptatibus maiores alias consequatur aut
                perferendis doloribus asperiores repellat.</p>
                </div>
            </td>
            <td>
                <a href="#">
                    <div class="services-circle services-circle-active"><img class="services-img" src="{% static 'img/Services/branch.png' %}" alt="branch">
                    </div>
                </a>
            </td>
            <td>
                <a href="#">
                    <div class="services-circle third-column"><img class="services-img" src="{% static 'img/Services/arrow.png' %}" alt="arrow"></div>
                </a>
            </td>
            <td>
                <div class="serv-right-txt">
                    <h4 class="services-name">Voluptatibus Maiores Alias</h4>
                    <p class="services-text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                    reiciendis voluptatibus maiores alias consequatur aut
                    perferendis doloribus asperiores repellat.</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="serv-left-txt">
                    <h4 class="services-name">Aut Perferendis Doloribus</h4>
                    <p class="services-text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                    reiciendis voluptatibus maiores alias consequatur aut
                    perferendis doloribus asperiores repellat.</p>
                </div>
            </td>
            <td class="services-circle-dollar">
                <a href="#">
                    <div class="services-circle">$</div>
                </a>
            </td>
            <td>
                <a href="#">
                    <div class="services-circle"><img class="services-img" src="{% static 'img/Services/home.png' %}" alt="home"></div>
                </a>
            </td>
            <td>
                <div class="serv-right-txt"><h4 class="services-name">Dut Aut Reiciendis Maiores</h4>
                <p class="services-text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                    reiciendis voluptatibus maiores alias consequatur aut
                perferendis doloribus asperiores repellat.</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="serv-left-txt"><h4 class="services-name">Maiores Alias Consequatur</h4>
                <p class="services-text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                reiciendis voluptatibus maiores alias consequatur aut
                perferendis doloribus asperiores repellat.</p>
                </div>
            </td>
            <td>
                <a href="#">
                    <div class="services-circle"><img class="services-img" src="{% static 'img/Services/chart.png' %}" alt="chart"></div>
                </a>
            </td>
            <td>
                <a href="#">
                    <div class="services-circle"><img class="services-img" src="{% static 'img/Services/set.png' %}" alt="set"></div>
                </a>
            </td>
            <td>
                <div class="serv-right-txt">
                    <h4 class="services-name">Doloribus Volupta Maiores</h4>
                    <p class="services-text">Itaque earum rerum hic tenetur a sapiente delectus, ut aut
                    reiciendis voluptatibus maiores alias consequatur aut
                    perferendis doloribus asperiores repellat.</p>
                </div>
            </td>
        </tr>
    </table>
</div>