{% load static %}
{% load my_tags %}

<span class="hot_offer">Горячее предложение!</span>
<ul class="hot_product">
    <li>
        <div class="name-game">
            <a href="{% url 'gallery:game' hot_product.pk %}"><img class="hot_image" src="{{ hot_product.image|media_folder_products }}"  alt='{{ hot_product.name }}'></a>
            <div class="gallery-name-buy"><p>{{ hot_product.name }}</p>
                <a href="{% url 'basket:add' hot_product.pk %}"><input class="gallery-buy" type="button" value="Buy"></a>
            </div>
        </div>
    </li>
</ul>
<p>{{ hot_product.description }}</p>