<div class = 'basket_list'>
    <div class="h2 text-center head">
      Ваша корзина,
      {% if user %}
        {{ user|title}}
      {% else %}
        Пользователь
      {% endif %}
    </div>
    <div class = 'basket_header'>
        <span class = 'game_name'>Название игры</span>
        <span class = 'category_name'>Жанр</span>
        <span class = 'product_price'>Цена</span>
        <span class = 'product_price'>Количество на складе</span>
        <span class = 'product_quantity'>Количество</span>
        <span class = 'product_cost'>Общая стоимость</span>
    </div>
    {% for item in object_list %}

        <div class = 'basket_record'>
            <img src = '/media/{{ item.product.image }}' alt="{{ item.product.name }}">
            <span class = 'game_name'>{{ item.product.name }}</span>
            <span class = 'category_name'>{{ item.product.game_category.name }}</span>
            <span class = 'product_price'>{{ item.product.price}}</span>
            <span class = 'product_price'>{{ item.product.quantity }}</span>
            {% if item.product.quantity %}
                <input name = '{{ item.pk }}' value = '{{ item.quantity }}' min = '0' type="number"/>
            {% else %}
                <div class="attention-text">Больше товара на складе нет!</div>
                <input name = '{{ item.pk }}' value = '{{ item.quantity }}' min = '0' max = '{{ item.quantity }}' type="number"/>
            {% endif %}
            <span class = 'product_cost'>{{ item.get_product_cost }}</span>
            <a href = '{% url "basket:remove" item.pk %}' class = 'btn btn-round btn-dark'>Delete</a>
        </div>
    {% endfor %}
    {% if object_list %}
        <div class = "basket_summary">
            В корзине {{ object_list.0.get_total_quantity }} товаров общей стоимостью {{ object_list.0.get_total_cost }}&#36;
<!--            В корзине {{ object_list.0.get_total_quantity_cached }} товаров общей стоимостью {{ object_list.0.get_total_cost_cached }}&#36;-->
        </div>
    {% else %}
        <div class = "basket_summary">
            В корзине нет товаров
        </div>
    {% endif %}
    <a href='{% url "gallery:gallery_main" 1 %}' class ="btn btn-round badge-primary">К списку игр</a>
</div>