<div class = 'basket_list'>
    <div class = 'basket_header'>
        <span class = 'game_name'>Название игры</span>
        <span class = 'category_name'>Жанр</span>
        <span class = 'product_price'>Цена</span>
        <span class = 'product_quantity'>Количество</span>
        <span class = 'product_cost'>Общая стоимость</span>
    </div>
    {% for item in object_list %}
        <div class = 'basket_record'>
            <img src = '/media/{{ item.product.image }}' alt="{{ item.product.name }}">
            <span class = 'game_name'>{{ item.product.name }}</span>
            <span class = 'category_name'>{{ item.product.game_category.name }}</span>
            <span class = 'product_price'>{{ item.product.price}}</span>
            <input name = '{{ item.pk }}' value = '{{ item.quantity }}' min = '0' type="number"/>
            <span class = 'product_cost'>{{ item.product_cost }}</span>
            <a href = '{% url "basket:remove" item.pk %}' class = 'btn btn-round btn-dark'>Delete</a>
        </div>
    {% endfor %}
    {% if object_list %}
        <div class = "basket_summary">
            В корзине {{ object_list.0.total_quantity }} товаров общей стоимостью {{ object_list.0.total_cost }}&#36;
        </div>
    {% else %}
        <div class = "basket_summary">
            В корзине нет товаров
        </div>
    {% endif %}
    <a href='{% url "gallery:gallery_main" 1 %}' class ="btn btn-round badge-primary">К списку игр</a>
</div>