.idea
venv/
django_2.2/
django_3.1/
requirements_django_3.1.txt

*.pyc
__pycache__
db.sqlite3
media/
project/settings.py
.DS_Store
env
./.env

geekshop/env.json


static/admin/
static/debug_toolbar/
tmp
migrations
db.json
test_db.json