{% load static %}
{% load my_tags %}
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>
            {% block title %}
                {{ title|title }}
            {% endblock %}
        </title>
        {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'style/style-index.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'style/css/bootstrap.min.css' %}">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
	    {% endblock %}
    </head>
	<body>
		<div class="container_form">
            {% block content %}
			{% endblock %}
        </div>
	</body>
</html>