.basket_container {
    margin: 25px auto;
    width: 1200px;
}

.basket_container .head {
    margin: 25px auto;
}

.basket_header {
    position: relative;
    display: block;
    height: 100px;
    float: none;
    padding-left: 152px;
}

.product_quantity {
    width: 5em;
    position: relative;
    display: block;
    float: left;
    margin-left: 3em;
}

.attention-text {
    color: red;
    display: inline-block;
    position: absolute;
    top: 85px;
    right: 230px;
    font-size: x-large;
}

.basket_list input[type="number"] {
    width: 3em;
    position: relative;
    display: block;
    float: left;
    margin-right: 35px;
    margin-left: 3em;
}

.basket_list span.category_name,
.basket_list span.game_name {
    margin-left: 2em;
    width: 5em;
    position: relative;
    display: block;
    float: left;
}

.basket_list span.product_name {
    margin-left: 1em;
    width: 8em;
    position: relative;
    display: block;
    float: left;
}

.basket_list span.product_price {
    margin-left: 3em;
    width: 7em;
    position: relative;
    display: block;
    float: left;
}

.basket_list span.product_cost {
    margin-left: 1em;
    width: 7em;
    position: relative;
    display: block;
    float: left;
}

.basket_list .basket_record {
    position: relative;
    display: block;
    height: 230px;
    float: none;
}


.basket_container button {
    margin-left: 25px;
    width: 150px;
    display: block;
    float: left;
}

.basket_container button a {
    text-decoration: none;
    color: #555;
}

.basket_container img {
    display: block;
    float: left;
    width: 150px;
    border-radius: 25px;
}

.basket_container input[type="submit"] {
    width: 150px;
    display: block;
    float: left;
    margin-bottom: 25px;
}

.basket_container .basket_summary {
    display: block;
    margin-left: 50px;
    margin-bottom: 15px;
    color: #555;
}