@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');
* {
	margin: 0;
	padding: 0;
}

.order_container {
    margin: 25px auto;
    width: 1200px;
}

.order_container button a {
    text-decoration: none;
    color: #555;
}

.order_container img {
    display: block;
    float: left;
    width: 150px;
    border-radius: 25px;
}


button.last {
    margin-bottom: 10px;
}

.not_active {
    opacity: 0.5;
}

.table.orders_list {
    min-width: 600px;
}

.td1.orders_list {
    width: 40px;
}

.table.order.formset {
    min-width: 400px;
}

.td1.order.formset_td {
    /*width: 70%;*/
}

.td2.order.formset_td {
    /*width: 50px;*/
}

.td3.order.formset_td {
    /*width: 50px;*/
    text-align: center;
}

.td4.order.formset_td {
    /*width: 50px;*/
    text-align: center;
}

body {
	font-family: 'Montserrat', sans-serif;
}

html, body {
	height: 100%;
}


.product_read {
    margin: 0 auto;
    width: 1000px;
    height: 600px;
}

.product_read img {
    display: block;
    float:left;
    margin-top: 25px;
    border-radius: 25px;
}

.product_read .product_name {
    display: block;
    margin: 0 auto;
    width: 350px;
}

.product_read .summary {
    display: block;
    float: left;
    margin-left: 35px;
    margin-top: 30px;
    width: 150px;
}

.product_read .product_desc {
    display: block;
    float: left;
    margin-left: 35px;
    margin-top: 45px;
    width: 400px;
}

.product_read strong {
    font-size: 150%;
    margin-left: 15px;
}

.product_read button {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    height: 30px;
    margin: 0px auto;
    width: 135px;
    padding: 0 15px;
}

.product_read a {
    color: #555;
    text-decoration: none;
}


.product_delete {
    margin: 50px auto;
    width: 600px;
    font-size: 150%;
}

.product_delete .btn {
    display: block;
    float:left;
    margin: 25px;
    width: 150px;
    color: #111;
}

.product_delete a {
    color: #111;
    text-decoration: none;
}


.admin_container .menu span {
    margin-left: 10px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #111;
}

.products_list {
    margin-left: 250px;
}

.products_list .new_product {
    margin-left: 150px;
}

.products_list button {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    height: 30px;
    margin: 5px auto;
    width: 135px;
    padding: 0 15px;
}

.products_list a {
    color: #555;
    text-decoration: none;
}

.product_record {
    height: 125px;
    margin: 15px auto;
    position: relative;
}

.product_record.not_active {
    opacity: 0.5;
}

.product_record .product_name {
    display: block;
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    width: 250px;
    font-size: 150%;
}

.product_record .product_actions {
    display: block;
    float: left;
    margin-top: 0px;
    margin-left: 25px;
    width: 135px;
}

.product_record .product_desc {
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    width: 350px;
}

.product_record .summary {
    display: block;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    width: 100px;
}

.product_record img {
    display: block;
    float: left;
    height: 125px;
    width: 125px;
    border-radius: 25px;
}